<html>
<head>
<title>Bigtem Makine - Üretim Takibi</title>
<script type="text/javascript"></script>
</head>
<body>

    <h1>BİGTEM MAKİNE - ÜRETİM TAKİBİ</h1>
    <H2>Anlık makine status'larını DB'ye basan frontend kodunu içerir</H2>


    <div>
        <label for="M1">Makine - 1      :  </label>
        <label for="M1" id="M1">Value</label>
    </div>
    <div>
        <label for="M2">Makine - 2      :  </label>
        <label for="M2" id="M2">Value</label>
    </div>
    <div>
        <label for="M3">Makine - 3      :  </label>
        <label for="M3" id="M3">Value</label>
    </div>
    <div>
        <label for="M4">Makine - 4      :  </label>
        <label for="M4" id="M4">Value</label>
    </div>
    <div>
        <label for="M5">Makine - 5      :  </label>
        <label for="M5" id="M5">Value</label>
    </div>
    <div>
        <label for="M6">Makine - 6      :  </label>
        <label for="M6" id="M6">Value</label>
    </div>
    <div>
        <label for="M7">Makine - 7      :  </label>
        <label for="M7" id="M7">Value</label>
    </div>
    <div>
        <label for="M8">Makine - 8      :  </label>
        <label for="M8" id="M8">Value</label>
    </div>
    <div>
        <label for="M9">Makine - 9      :  </label>
        <label for="M9" id="M9">Value</label>
    </div>
    <div>
        <label for="M10">Makine - 10        :  </label>
        <label for="M10" id="M10">Value</label>
    </div>
    <div>
        <label for="M11">Makine - 11        :  </label>
        <label for="M11" id="M11">Value</label>
    </div>
    <div>
        <label for="M12">Makine - 12        :  </label>
        <label for="M12" id="M12">Value</label>
    </div>
    <div>
        <label for="M13">Makine - 13        :  </label>
        <label for="M13" id="M13">Value</label>
    </div>
    <div>
        <label for="M14">Makine - 14        :  </label>
        <label for="M14" id="M14">Value</label>
    </div>
    <div>
        <label for="M15">Makine - 15        :  </label>
        <label for="M15" id="M15">Value</label>
    </div>




    <script type="module" src="index.js"></script>
    <script type="module" src="Request.js"></script>



</body>
</html>
